@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Limelight&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

img {
  max-width: 40vw;
  max-height: 40vh;
  object-fit: cover;
}

p {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Limelight", serif;
}

.light-text {
  color: white;
}

.dark-text {
  color: black;
}

.about {
  background-color: #0891b2;
  display: flex;
  justify-content: center;
}

.about img {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  max-width: 40vw;
  height: auto;
  /* transform: scale(1.3); */
}

.about-me {
  background-color: white;
  max-width: 40vw;
  padding: 1.5rem;
}

.about-profile-links {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
}

.about-profile-links a img {
  width: 40px;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  width: 100%;
  max-width: 75vw;
}

.project {
  outline: 1px solid black;
  padding: 1.5rem;
}

.contact {
  display: flex;
  padding: 2rem;
  gap: 2rem;
  justify-content: center;
  background-color: #0891b2;
}
